.main-container {
    height: 80vh;
    background: linear-gradient(to right, #78ffd6, #007991);
    border-radius: "10px";
    box-shadow: "0 3px 5px 2px #78ffd6";
    color: #ffffff;
    overflow: auto;
}

.block-normal {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    ;
    height: 110px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
}

.block-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}